body{
  background: black;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.todo-card{
  width: 700px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.todo-card h1{
  text-align: center;
  border: 2px solid #222;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.todo-form{
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.todo-form input{
  flex: 1;
  padding: 10px;

}

.todo-form button{
padding: 10px 20px;
cursor: pointer;
}

.todo-item{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 15px;
padding: 10px;
border-bottom: 1px solid #ddd;
}

.edit{
  cursor: pointer;
  color: orange;
}

.delete{
  cursor: pointer;
  color: red;
}